<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script>
  (function () {
    var locs = {{ locales_json | safe }};
    var go = "{{ target }}";
    try {
      var cands = navigator.languages || [navigator.language || ""];
      for (var i = 0; i < cands.length; i++) {
        var b = (cands[i] || "").toLowerCase().split("-")[0];
        if (locs.indexOf(b) >= 0) { go = b + "/index.html"; break; }
      }
    } catch (e) {}
    location.replace(go);
  })();
  </script>
  <meta http-equiv="refresh" content="0; url={{ target }}">
  <link rel="canonical" href="{{ target }}">
</head>
<body><a href="{{ target }}">이동</a></body>
</html>
